.additionals {
  display: flex;
  justify-content: start;
  list-style-type: none;
  gap: 1em;
  font-size: 0.7em;
  font-weight: bold;
  margin: 10px 150px 0;
  cursor: pointer;

  img {
    vertical-align: middle;
  }

  @media (min-width: 1200px) {
    margin: 10px 10px 0;
  }
}