.main {
  position: relative;
  max-width: 500px;
  cursor: pointer;
  z-index: 0;
}

.thumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  max-width: 500px;
  min-width: 500px;
  padding: 1.5px 0;
  overflow-x: scroll;
  cursor: pointer;

  &__img--selected {
    border: 2.5px solid #d1d0c5;
  }
}