.main {
  position: relative;
  max-width: 500px;
  cursor: pointer;
  z-index: 0;
}

.thumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  max-width: 500px;
  padding: 1.5px 0;
  overflow-x: auto;
  height: 71px;
  cursor: pointer;

  &__img {
    height: 71px;
    border: 2.5px solid transparent;
  }

  &__img--selected {
    border-color: #d1d0c5;
  }
}