.navbarSecond {
  display: flex;
  list-style-type: none;
  background: #3F7DA1;
  color: #FFF;

  margin-top: 30px;
  font-size: 0.95rem;

  &__item {
    padding: 7px 12px;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
    transition: background-color 500ms ease-out;
  }

  &__item:hover {
    cursor: pointer;
    color: black;
    background-color: #545454;
  }
}