.navbarFirst {
  border: 1px solid black;
  display: flex;
  gap: 2rem;
  align-items: center;

  padding: 40px 150px;
  background: #171a21;
  color: #B8B6B4;

  list-style-type: none;

  &__item {
    cursor: pointer;

    &:hover {
      color: #FFF;
    }
  }
}