.rights {
  display: flex;
  list-style-type: none;
  margin: 0 150px;
  font-size: 0.65rem;
  gap: 1.5em;
  align-items: center;
  padding: 15px 0;

  &__items--desc {
    text-align: start;
  }

  &__items--right {
    margin-left: auto;
  }

  @media (min-width: 1200px) {
    margin: 0 10px 0;
  }
}